/*----woocommerce----*/
/* woocommerce v2.3.5 */
*:focus {
	outline: 0;
}
/*----product----*/
.woocommerce .products span.onsale, .woocommerce span.onsale {
	border-radius: 0;
	display: block;
	font-size: 13px;
	font-weight: normal;
	line-height: 25px;
	margin: 4px !important;
	min-height: 10px;
	padding: 0 12px;
	z-index: 999;
}
.woocommerce span.onsale {
	margin: 10px !important;
}
.woocommerce ul.products li.product {
	text-align: center;
	padding-bottom: 20px;
	transition: all 0.4s ease 0s;
	border-radius: 0;
}
.woocommerce ul.products li.product a img:hover {
	opacity: 0.6;
}
.woocommerce-page .woocommerce-ordering select {
	padding: 12px 15px 12px 10px;
	color: #A0A0A0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
}
.woocommerce-page .products .product > a:first-child {
	position: relative;
	text-align: center;
	display: block;
}
.woocommerce-page .products a.button {
	display: inline-block;
	text-align: center;
	border-radius: 0;
	margin: 10px;
	font-size: 15px;
	border: none;
	font-weight: bold;
	margin: 0 auto !important;
}
.woocommerce-page .products a.button:hover {
	box-shadow: 0 4px 20px -5px rgba(0,0,0,0.5);
}
.woocommerce-page .products h3 {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 12px;
	line-height: 25px;
	float: none;
	width: auto;
	margin: 0;
}
.woocommerce-page .products .star-rating {
	position: relative;
	margin: 0 auto;
}
.woocommerce-page .products a .price {
	line-height: 20px;
	width: 100%;
	float: left;
	height: auto;
	min-height: 40px;
	text-align: center;
	padding: 10px 0;
}
.woocommerce-page .products a .price del {
	display: inline-block !important;
	line-height: 20px;
}
.woocommerce-page .products a .price ins {
	display: inline-block;
	font-weight: bold;
	background: none;
	line-height: 20px;
	margin-left: 10px;
}
.woocommerce-page .products .added_to_cart {
	display: inline-block;
	text-align: center;
	padding: 10px 20px 10px 20px;
	border-radius: 0;
	border: none;
	font-size: 12px;
	margin: 0;
}
.woocommerce-page .woocommerce-result-count {
	float: left;
	font-size: 14px;
	line-height: 46px;
	margin-top: 20px;
}
.woocommerce-page .woocommerce-ordering {
	float: right;
	margin-top: 20px;
}
.woocommerce-page .product-type-simple {
	position: relative;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	font-size: inherit;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
	padding: 0.5rem;
}
footer .blogdata-widget .woocommerce ul.cart_list li img, footer .blogdata-widget .woocommerce ul.product_list_widget li img {
	margin-top: 7px;
}
/*woocommerce-tabs*/
.tabs.wc-tabs {
	text-align: center;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-width: 0 0 1px 0;
	border-style: solid;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: 0;
	background: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: 0;
	background: transparent;
	border: none;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
	font-size: 22px;
	line-height: 25px;
}
.related.products {
	text-align: center;
}
.related.products h2 {
	font-size: 26px;
	line-height: 40px;
}
/*woocommerce-form*/
.woocommerce form .form-row label {
  width: 100%;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	height: 40px;
	margin-bottom: 20px;
	border: 2px solid #ebebeb;
	color: #ccc;
	border-radius: 0px;
	padding: 6px 12px;
}
.select2-container .select2-choice {
	height: 40px;
	padding: 6px 12px;
}
/*woocommerce-cart*/
.woocommerce table.shop_table {
	border-radius: 0;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
	float: none;
	line-height: 30px;
	padding: 5px 35px;
	border-radius: 0;
}
.woocommerce .cart .button:hover, .woocommerce .cart input.button:hover {
	box-shadow: 0 4px 20px -5px rgba(0,0,0,0.5);
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	line-height: 30px;
	padding: 5px 35px;
	border-radius: 0;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	border-radius: 0;
	height: 40px;
	border-width: 1px;
	border-style: solid;
	min-width: 110px;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
/*woocommerce-messages*/
.woocommerce-page .woocommerce-message {
	margin: 0px 0 40px;
	border-radius: 3px;
	list-style: none;
}
.woocommerce-page .woocommerce-message a {
	padding: 6px 14px;
	font-size: 12px;
}
.woocommerce-page .woocommerce-error {
	list-style: none;
	padding: 10px 0 10px 50px;
	margin: 0px 0 40px;
	border-radius: 3px;
	border: none;
	float: left;
	width: 100%;
}
.woocommerce-page .woocommerce-error a {
	padding: 6px 14px;
	font-size: 12px;
}
.woocommerce-page .woocommerce-info {
	list-style: none;
	padding: 0;
	margin: 0px 0 40px;
	border-radius: 3px;
	border: none;
	float: left;
	width: 100%;
	margin-top: 25px !important;
}
.woocommerce-page .woocommerce-info a {
	padding: 6px 14px;
	font-size: 12px;
}
.woocommerce-page .woocommerce-info {
	float: left;
	text-align: start;
	padding: 15px 0 15px 50px;
}
.woocommerce-page .woocommerce .woocommerce-info {
	border-radius: 3px;
	border: none;
	padding: 15px 0 15px 50px;
	margin-bottom: 40px;
}
.woocommerce-page .woocommerce .woocommerce-info a {
	opacity: 0.9;
}
/*woocommerce-pagination*/
.woocommerce nav.woocommerce-pagination ul {
	border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
	border: none;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	float: left;
	line-height: 1.42857;
	margin: 6px;
	padding: 6px 12px;
	border-radius: 0;
}
/*woocommerce-price-filter*/
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #1a2128;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
/*----woocommerce footer-widget----*/
.bs-sidebar .bs-widget.widget_product_search .btn {
	padding: 2px 12px;
	height: 40px;
	border-radius: 0;
	margin-left: -1px;
}
.woocommerce h1, .woocommerce h2, .woocommerce h3, .woocommerce h4, .woocommerce h5, .woocommerce h6{
  margin-bottom: 0.5em;
}
.woocommerce ul.products li.product .woocommerce-loop-product__link .woocommerce-loop-product__title{
	font-size: 1.5rem;
	text-align: center;
	padding: 0 0 2px;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	background-position: left 100%;
	background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
	transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline;
}
.woocommerce ul.products li.product .woocommerce-loop-product__link:hover .woocommerce-loop-product__title{
	background-repeat: no-repeat;
	background-size: 100% 1px;
	background-position: left 100%;
	background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
	transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.woocommerce ul.products li.product .button, .woocommerce div.product form.cart .button, .woocommerce #review_form #respond .form-submit input {
  padding: 15px 20px;
  border-radius: 30px;
  transition: all 0.5s;
}
.woocommerce div.product form.cart div.quantity{
  margin: 0 20px 0 0;
}
.woocommerce ul.products li.product .price {
  text-align: center;
  font-size: 1rem;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  text-align: center;
  overflow: hidden;
}
.woocommerce span.onsale, .woocommerce ul.products li.product .onsale {  
  width: 200px;
  height: 20px;
  min-height: 20px;
  line-height: 16px;
  top: 25px;
  right: -60px;
  transform: rotate(45deg);
  border-radius: 0;
}
.woocommerce .woocommerce-ordering select {
  height: 50px;
}
.woocommerce div.product .product_title {
  margin-bottom: 0.5rem;
}
.woocommerce div.product form.cart .variations select {
  height: 50px;
}
.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
  text-align: start;
  display: block;
}
.woocommerce .quantity .qty {
  width: 5rem;
}
.woocommerce-variation.single_variation {
  margin-bottom: 1rem;
}
.product_meta .sku_wrapper, .product_meta .posted_in, .product_meta .tagged_as {
  display: block;
  font-weight: 600;
  margin-bottom: 0.313rem;
}
.product_meta .sku_wrapper .sku, .product_meta .posted_in a, .product_meta .tagged_as a {
  font-weight: 400;
}
.woocommerce table.shop_attributes td p {
  padding: 8px;
}
.woocommerce table.shop_attributes td, .woocommerce table.shop_attributes th{
  border: 1px solid var(--border-color);
}
table, th, td {
	border-collapse: collapse;
}
.woocommerce table.shop_attributes{
  border-top: 1px solid var(--border-color);
}
.woocommerce-tabs.wc-tabs-wrapper {
  margin: 3rem 0;
}
.woocommerce div.product .woocommerce-tabs .panel {
  margin: 2em 0;
}
.comment-respond .comment-reply-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}
.comment-form-rating label{
  font-weight: 600;
}
.comment-form-rating .stars{
  font-size: 1.25rem;
}
.woocommerce #reviews #comment {
  height: 240px;
}
.wc-block-mini-cart .wc-block-mini-cart__button{
  border-radius: 0;
  padding-right: 15px;
}
.woocommerce-cart .is-large.wc-block-cart .wc-block-cart-items td {
    border-top: 1px solid var(--border-color);
}
.woocommerce-cart .wc-block-components-totals-wrapper,.woocommerce-cart .wp-block-woocommerce-cart-order-summary-totals-block {
    border-top: 1px solid var(--border-color);
}
.woocommerce-checkout .is-large .wp-block-woocommerce-checkout-order-summary-block,.woocommerce-checkout .wc-block-components-totals-wrapper{
	border: 1px solid var(--border-color);
}
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=email],
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=number],
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=tel],
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=text],
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=url],
.woocommerce-checkout .wc-block-components-text-input input[type=email],
.woocommerce-checkout .wc-block-components-text-input input[type=number],
.woocommerce-checkout .wc-block-components-text-input input[type=tel],
.woocommerce-checkout .wc-block-components-text-input input[type=text],
.woocommerce-checkout .wc-block-components-text-input input[type=url] {
	border: 1px solid var(--border-color);
	background: none;
}
.wc-block-components-form .wc-block-components-text-input input[type=text], .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input, .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input {
    height: 55px;
}
.woocommerce-checkout .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input,
.woocommerce-checkout .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input,
.woocommerce-checkout .wc-block-components-combobox .wc-block-components-combobox-control label.components-base-control__label,
.woocommerce-checkout .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control label.components-base-control__label,
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input label, .woocommerce-checkout .wc-block-components-text-input label{
	font-size: 14px;
}
.woocommerce-checkout .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input,
.woocommerce-checkout .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input{
	border: 1px solid var(--border-color);
}
.woocommerce-checkout .wc-block-components-address-form__address_2-toggle {
	border: 1px solid var(--border-color);
}
.woocommerce-checkout .wc-block-components-textarea{
	background: none;
	border: 1px solid var(--border-color);
}
.woocommerce-checkout .wc-block-checkout__add-note .wc-block-components-textarea:focus{
	background: none;
}
/* Woo rtl */
.rtl.woocommerce ul.products li.product .woocommerce-loop-product__link .woocommerce-loop-product__title{
	background-position: right 100%;
}
.rtl.woocommerce ul.products li.product .woocommerce-loop-product__link:hover .woocommerce-loop-product__title{
	background-position: right 100%;
}