body.dark {
	--head-color: #fff;
	--stext-color: #fff;
	--text-color: #fff;
    --wtitile-color: #fff;
	--wtext-color: #fff;
	--bg-color: transparent;
	--border-color: #333;
	--box-color: transparent;
	--box-color2: #222;
	--blog-color: #fff;
	--wrap-color: #1C1C1C;	
	--cat-color: #a90e6d; 
    --cat-text-color: #fff;
	/* header */
	--headbg-color: #000;
	--headmenu-color: #fff;
    /* footer  */
	--ftbackcolor: #111;
	--ftwtitile-color: #fff;
	--ftwtext-color: #999;
  --bxsh: 0 1px 3px rgba(185, 185, 185, 0.15);
  --bxshover: 0 4px 60px 0 rgba(185, 185, 185, 0.2);
  --bxbr: 3px solid #fff;
  --bg-popup: #222;
  --head-bodr:#4a4a4a;
}