:root {
	--secondary-color: #7c31f7;
	--head-color: #212121;
	--stext-color: #000;
	--text-color: #4C4C4C;
	--wtitile-color: #000;
	--wtext-color: #666;
	--bg-color: transparent;
	--border-color: #e2e8f0;
	--box-color: transparent;
	--box-color2: #fff;
	--blog-color: #6e6e6e;
	--cat-color: #8e54e9;
	--cat-text-color: #000;
	/* header */
	--headbg-color: #fff;
	--headmenu-color: #000;
	/* footer  */
	--ftbackcolor: #fff;
	--ftwtitile-color: #000;
	--ftwtext-color: #000;
	--bg-popup: #fff;
	--head-bodr: #bbbbbb;
}
.wrapper {
	background: var(--wrap-color);
}
.all:root {
	background-color: #fff;
}
.dark:root {
	background-color: #121212;
}
::selection {
	color: white;
	background: #8e54e9;
}
.wd-back {
	background: var(--box-color2);
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, #8e54e9 1.18%, var(--secondary-color) 74.96%);
}
.site-title a,
.site-description {
	color: var(--head-color);
}
.site-title a,
.site-description {
	color: var(--stext-color);
}
.navbar-wp nav li a {
	color: var(--headmenu-color);
}
.navbar-wp nav li ul li a {
	color: var(--head-color)
}
.navbar-wp nav li a:hover {
	color: #8e54e9;
}
.navbar-wp .icon-bar {
	background-color: var(--head-color);
}
.sm-clean a:hover .sub-arrow,
.sm-clean a:focus .sub-arrow {
	border-color: #8e54e9 transparent transparent;
}
.sm-clean ul a:active,
.sm-clean ul a.highlighted {
	color: var(--heae-color);
}
.dropdown-menu .dropdown-item:hover .sub-arrow {
	border-color: transparent transparent transparent #8e54e9;
}
.sm-rtl .dropdown-menu .dropdown-item:hover .sub-arrow {
	border-color: transparent #8e54e9 transparent transparent;
}
/*============  Drop Down Menu============*/
.navbar-wp nav ul.sb-menu li a {
	background: #fff;
	color: #000;
}
.navbar-wp nav ul.sb-menu li a:hover {
	color: #fff;
	background: #8e54e9;
}
/*==================== default header ====================*/
.bs-default {
	background: var(--box-color2);
	border-bottom-color: var(--head-bodr);
}
.bs-headfour{
	background: var(--box-color2);
}
/* ---bs-header three-- */
.bs-headthree {
	background-color: rgba(0, 0, 0, 0.45);
}
.bs-headthree .navbar-wp nav li a {
	color: #fff;
}
.bs-headthree .navbar-wp nav li a:hover,
.bs-headthree .navbar-wp nav li a:focus {
	color: #8e54e9;
}
.bs-headthree .switch .slider::before,
.bs-headthree .right-nav a {
	color: #fff;
}
.bs-headfive {
	border-bottom-color: #f2f7fd;
}
.hedaer-offcanvas .offcanvas-trigger {
	background-color: transparent;
	color: var(--head-color);
}
.hedaer-offcanvas .offcanvas-trigger:hover,
.hedaer-offcanvas .offcanvas-trigger:focus {
	background: transparent;
}
.bs-headthree .hedaer-offcanvas .offcanvas-trigger {
	color: #fff;
}
/*==================== topbar ====================*/
.switch .slider::before {
	color: var(--head-color);
}
.switch input:checked+.slider::before {
	color: #fff;
}
/* ---bs-default five-- */
.right-nav .element {
	color: var(--secondary-color);
}
.bs-default .right-nav a {
	color: var(--head-color);
}
.bs-default .right-nav .subscribe-btn {
	color: #fff;
}
.bs-headfive .right-nav a,
.bs-headsix .right-nav a {
	color: var(--head-color);
}
.bs-headfive .right-nav .subscribe-btn,
.bs-headsix .right-nav .subscribe-btn {
	color: #ffffff;
}
.right-nav .element:hover,
.right-nav .element:focus {
	color: transparent;
}
.search-bar .form-dropdown {
	background: #fff;
}
.msearch{
	color: var(--head-color);
}
/*==================== Menu Description ====================*/
.menu-link-description {
	background: #8e54e9;
	color: #fff;
}
.menu-link-description::after {
	border-top-color: #8e54e9;
}
/*==================== Sticky Header ====================*/
.bs-menu-full.header-sticky {
	background: var(--box-color2);
}
/*==================== search ====================*/
.search-popup.show-search .search-popup-content {
	background: var(--bg-popup);
}
.search-popup .btn-close:hover,
.search-popup .btn-close:focus {
	background: linear-gradient(90deg, var(--secondary-color) 1.18%, #8e54e9 74.96%);
}
/*==================== Body & Global ====================*/
body {
	color: var(--text-color);
}
input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
textarea {
	color: var(--text-color);
	border-color: #eef3fb;
}
.form-control:hover,
textarea:hover,
input:not([type]):hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
input[type="text"]:hover,
input:not([type]):focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="text"]:focus {
	border-color: #8e54e9;
}
input[type="submit"],
button {
	background: #8e54e9;
	border-color: #000;
	color: #fff;
}
input[type="submit"]:hover,
button:hover,
input[type="submit"]:focus,
button:focus {
	background: linear-gradient(90deg, var(--secondary-color) 1.18%, #8e54e9 74.96%);
	border-color: var(--secondary-color);
	color: #fff;
}
input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=range]:focus, input[type=date]:focus, input[type=month]:focus, input[type=week]:focus, input[type=time]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=color]:focus, textarea:focus, select:focus{
	border-color: #8e54e9;
}
a {
	color: #8e54e9;
}
a:hover,
a:focus {
	color: var(--head-color);
}
.wp-block-calendar tbody td {
	color: var(--text-color);
}
.bs-error-404 .title i {
	color: #8e54e9;
}
.grey-bg {
	background: #f4f7fc;
}
.bs .swiper-button-prev,
.bs .swiper-button-next {
	background-color: #fff;
	color: #212121;
	border-color: var(--secondary-color);
}
.bs .swiper-pagination-bullet-active {
	background: #8e54e9;
}
.missed .wd-back .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #8e54e9;
}
.bs .swiper-button-prev:hover,
.bs .swiper-button-next:hover {
	background: #8e54e9;
	color: #fff;
}
.mg-latest-news .bn_title {
	background: var(--secondary-color);
}
.mg-latest-news .bn_title .title {
	color: #fff;
	border-color: #fff;
}
.mg-latest-news .mg-latest-news-slider a {
	color: var(--secondary-color);
}
.mg-latest-news .mg-latest-news-slider a:hover {
	color: #8e54e9;
}
.envelope {
	background: #8e54e9;
	color: #fff;
}
.post-share-icons a {
	color: var(--head-color);
	background-color: transparent;
}
.post-share-icons a:hover,
.post-share-icons a:focus {
	color: #8e54e9;
}
.post-share-icons {
	border-color: var(--border-color);
}
.bs-social li i {
	color: var(--secondary-color);
}
.bs-footer-bottom-area .bs-social li i {
	color: var(--head-color);
}
.bs-headfive .bs-social li i {
	color: var(--head-color);
}
.bs-social li i:hover {
	color: #8e54e9;
}
.bs-widget .bs-widget-tags a {
	color: var(--text-color);
	background: transparent;
	border-color: #E0E0E0;
}
.bs-widget .bs-widget-tags a:hover,
.bs-widget .bs-widget-tags a:focus {
	color: #fff;
	background: #8e54e9;
	border-color: #8e54e9;
}
/*==================== section-hero ====================*/
.section-hero.hero-four .overlay {
	background: linear-gradient(to right, #8e54e9, var(--secondary-color));
}
.section-hero .overlay {
	background: radial-gradient(circle, var(--secondary-color) 0%, #8e54e9 100%);
}
.section-hero .hero-content .inline-search .form-group .form-control::-moz-placeholder {
	color: #fff;
}
.section-hero .hero-content .inline-search .form-group .form-control::placeholder {
	color: #fff;
}
.section-hero .hero-content .inline-search .form-group .form-control {
	color: #fff;
}
.section-hero .hero-content .title .hero_strok {
	color: transparent;
	-webkit-text-stroke-color: #8e54e9;
}
.section-hero .hero-content .title .hero-icon_box {
	color: #999;
}
.section-hero .hero-content .title {
	color: #fff;
}
.mainfeatured .bs-widget {
	background-color: transparent;
}
/*==================== widget Title ====================*/
.bs-widget {
	background: var(--bg-color);
	border-bottom-color: #e4e4e4;
}
.bs-widget-title {
	border-color: #eee;
}
.bs-widget-title .title {
	color: var(--wtitile-color);
}
.bs-widget-title.one .title::before, .widget_block .wp-block-heading::before, .wp-block-search__label::before {
	background:linear-gradient(to right, #8e54e9, var(--secondary-color));
}
.widget_block .wp-block-heading::after, .wp-block-search__label::after {
	background-color: var(--border-color);
}
.bs-widget-title.one{
	border-bottom-color: var(--border-color);
}
/*==================== Blog ====================*/
.bs-recent-blog-post .small-post {
	border-color: #d7d7d7;
}
.small-post .title a {
	color: var(--head-color);
}
.small-post .title a:hover,
.small-post .title a:focus {
	color: #8e54e9;
}
/*==================== Blog ====================*/
.bs-blog-post {
	background: var(--box-color2);
}
.bs-blog-post .bs-blog-thumb::before {
	background-color: #fff;
}
.bs-blog-post.lg {
	background-color: #000;
}
.bs-blog-post.one .bs-blog-thumb .circle_btn {
	color: #fff;
}
.bs-blog-post.one .bs-blog-thumb .circle_btn:hover {
	color: #fff;
}
.bs-blog-post .circle_btn {
	color: #fff;
}
.bs-blog-post .small {
	color: var(--text-color);
}
.bs-blog-post.single .small.single, .page-class .bs-card-box  {
	color: var(--head-color);
}
.bs-blog-post.single.head_two::after {
	background-color: rgba(0, 0, 0, 0.6);
}
.bs-blog-post.single.head_one::after {
	background-color: rgba(0, 0, 0, 0.6);
}
.bs-single-head.one::after {
	background-color: rgba(0, 0, 0, 0.6);
}
.bs-single-head.two .bs-header .title a {
	color: var(--secondary-color);
}
.bs-blog-post.three .inner::after {
	background-color: rgba(0, 0, 0, 0.6);
}
.bs-single-head.four .title a {
	color: #111;
}
.bs-single-head.four .description {
	color: #111;
}
.bs-single-head.five::after {
	background-color: rgba(0, 0, 0, 0.6);
}
.bs-single-head.five .bs-header {
	background-color: rgba(255, 255, 255, 0.3);
}
.bs-blog-post.five .bs-blog-thumb::before {
	background-color: transparent;
}
.bs-blog-post.five .bs-blog-thumb::after {
	position: absolute;
	background-color: transparent;
}
.bs-blog-post .bs-header .btitle,
.bs-blog-post .bs-header .btitle a {
	color: var(--head-color);
}
.bs-blog-post .bs-header .bs-read {
	color: #f56565;
}
.bs-blog-post.single .nav-links {
	background: var(--border-color);
}
.bs-blog-post.single .nav-links a,
.bs-blog-post.single .single-nav-links a {
	color: var(--head-color);
}
.bs-blog-post.single .nav-links a:hover,
.bs-blog-post.single .single-nav-links a:hover {
	color: #8e54e9;
}
.bs-blog-post.one .bs-blog-thumb .circle_btn {
	background: linear-gradient(40deg, #8e54e9 1.18%, var(--secondary-color) 74.96%);
}
.bs-blog-post.two .small {
	background: var(--box-color);
	color: var(--text-color);
}
.bs-blog-post.three .title a {
	color: #fff;

}

.bs-blog-post.three .bs-blog-category a {
	color: #fff;
}
.bs-featured-category.three .d-grid .bs-widget .inner-content .bs-arrow-btn {
	background-color: #eee;
}
.bs-featured-category .d-grid .bs-widget .inner-content .text h5 a:hover {
	background: linear-gradient(90deg, #8e54e9 1.18%, var(--secondary-color) 74.96%);
	color: #fff;
}
.bs-featured-category .d-grid .bs-widget .inner-content .text h5 a {
	background-color: #fff;
}
.bs-featured-category .d-grid .bs-widget::before {
	background-color: #fff;
}
.bs-featured-category.four .d-grid .bs-widget .inner-content .text h5 a {
	color: #fff;
}
.bs-featured-category.four .d-grid .bs-widget .inner-content .text span {
	color: #fff;
}
.bs-blog-post.three .bs-blog-meta a,
.bs-blog-post.three .bs-blog-meta span,
.bs-blog-post.three .bs-blog-meta span:before {
	color: #fff;
}
.bs-blog-post.four .small {
	background-color: var(--box-color);
}
.bs-blog-post.six .title a {
	color: #fff;
}
.bs-blog-post.six .inner::after {
	background-color: rgba(0, 0, 0, 0.2);
}
.bs-blog-post.six .bs-blog-meta a,
.bs-blog-post.six .bs-blog-meta span,
.bs-blog-post.six .bs-blog-meta span:before {
	color: #fff;
}
.bs-blog-post .bs-header .bs-blog-date {
	color: var(--text-color);
}
.bs-blog-post .bs-header .tag-links,
.tag-links a {
	color: var(--text-color);
}
.bs-blog-post.five .small .title {
	background-color: transparent;
}
.bs-blog-post.five .small .circle_btn {
	background: #fff;
	color: #8e54e9;
}
.bs-blog-post .circle_btn:hover {
	background-color: #8e54e9;
	border-color: #8e54e9;
}
.bs-blog-post.five .small .circle_btn:hover {
	background-color: #8e54e9;
	color: #fff;
}
.recentarea-slider .small-post {
	border-color: #d7d7d7;
}
.bs-widget .bs-author h4 {
	color: var(--head-color);
}
.bs-widget .bs-author {
	color: var(--text-color);
}
.bs-blog-thumb .bs-blog-inner.two::after {
	background-color: transparent;
}
.bs-blog-thumb .bs-blog-inner .title,
.bs-blog-thumb .bs-blog-inner .title a {
	color: var(--head-color);
}
.bs-blog-thumb .bs-blog-inner .title:hover,
.bs-blog-thumb .bs-blog-inner .title a:hover,
.bs-blog-thumb .bs-blog-inner .title a:focus {
	color: #8e54e9;
}
.bs-blog-thumb .bs-blog-inner.two .title,
.bs-blog-thumb .bs-blog-inner.two .title a {
	color: var(--bg-color);
}
.bs-blog-inner.two .bs-blog-category a {
	color: var(--wrap-color);
}
.bs-single-head.four .bs-blog-category a {
	background-color: #8e54e9;
	color: #fff;
}
.bs-single-head.four {
	background-image: linear-gradient(135deg, #fdfcfb 0%, #8e54e9 100%);
}
.bs-blog-category:before {
	background: #8e54e9;
}
.bs-blog-category a {
	color: var(--cat-text-color);
	border-color: var(--cat-color);
}
.bs-blog-category a::before {
	background: var(--cat-color);
}
.bs-blog-category a:hover,
.bs-blog-category a:focus {
	color: #fff;
	background: linear-gradient(90deg, var(--secondary-color) 1.18%, #8e54e9 74.96%);
}
.bs-blog-category.one a:hover {
	border-color: #8e54e9;
}
.bs-blog-category.three a {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.bs-blog-category.three a:hover {
	border-bottom-color: #8e54e9;
	background-color: transparent;
	color: #8e54e9;
}
.bs-blog-category.four a {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
.bs-blog-category.four a:hover {
	border-left-color: #8e54e9;
	background-color: transparent;
	color: #8e54e9;
}

.bs-blog-post .title {
	color: var(--head-color);
}
.bs-blog-post .title a:hover,
.bs-blog-post .title a:focus,
.bs-blog-post .title a:hover,
.bs-blog-post .title a:focus {
	color: #8e54e9;
}
.bs-blog-meta,
.bs-blog-meta a {
	color: var(--text-color);
}
.bs-blog-meta a:hover,
.bs-blog-meta a:focus,
.tag-links a:hover {
	color: #8e54e9;
}
.bs-info-author-block {
	background: var(--box-color2);
	border-color: transparent;
}
.bs-info-author-block .title a {
	color: var(--head-color);
}
.bs-info-author-block .title a:hover,
.bs-info-author-block .title a:focus {
	color: #8e54e9;
}
.comments-area a {
	color: var(--head-color);
}
.comments-area .comment-body {
	border-color: var(--border-color);
}
.comments-area .reply a:hover,
.comments-area .reply a:focus {
	color: #8e54e9;
}
blockquote {
	background: var(--border-color);
	border-left: 5px solid #8e54e9;
	color: #718096;
}
blockquote::before {
	color: #8e54e9;
}
blockquote p {
	color: var(--head-color);
}
.widget_block h2 {
	/* color: var(--head-color);
	border-color: #d7d7d7; */
}

.wp-block-group .wp-block-heading.seven .title::before {
	background-color: #8e54e9;
}
.bs-widget-title.seven .title::before {
	background-color: #8e54e9;
}
.wp-block-group .wp-block-heading.six span {
	color: #f3f3f3;
}
.bs-widget-title.five .title {
	color: #fff;
}
.bs-widget-title.six span {
	color: #f3f3f3;
}
.bs-widget-tags a,
.tagcloud a,
.wp-block-tag-cloud a {
	background: var(--bg-color2);
	border-color: var(--head-color);
	color: var(--head-color);
}
.wp-block-tag-cloud a:hover,
.wp-block-tag-cloud a:focus {
	color: #fff;
	background: #8e54e9;
	border-color: #8e54e9;
}
.widget_block .wp-block-search__button {
	background: #8e54e9;
	border-color: #000;
	color: var(--head-color);
}
.wp-block-search button.wp-block-search__button {
	color: #fff;
}
.widget_block .wp-block-search__button:hover,
.wp-block-search__button:focus {
	border-color: var(--secondary-color);
	color: #fff;
}
.bs-content p {
	color: var(--text-color);
}
/*==================== Sidebar ====================*/
.bs-sidebar .bs-widget {
	background: var(--box-color2);
	border-color: transparent;
}
.bs-sidebar .bs-widget ul li {
	border-color: var(--border-color);
	color: var(--text-color)
}

.bs-sidebar .bs-widget ul li a {
	color: var(--wtext-color);
}
.bs-sidebar .bs-widget ul li a:hover,
.bs-sidebar .bs-widget ul li a:focus {
	color: #8e54e9;
}
.bs-sidebar .bs-widget ul.bs-social li a {
	color: #fff;
}
.bs-sidebar .bs-widget .bs-widget-tags a,
.bs-sidebar .bs-widget .tagcloud a {
	color: var(--cat-text-color);
	border-color: var(--cat-color);
}
.bs-sidebar .bs-widget .bs-widget-tags a:hover,
.bs-sidebar .bs-widget .tagcloud a:hover,
.bs-sidebar .bs-widget .bs-widget-tags a:focus,
.bs-sidebar .bs-widget .tagcloud a:focus {
	color: #fff;
	background: linear-gradient(90deg, var(--secondary-color) 1.18%, #8e54e9 74.96%);
	border-color: #8e54e9;
}
.bs-sidebar .bs-widget.widget_search .btn {
	background: #8e54e9;
	color: #fff;
	border-color: #e5e7eb;
}
.bs-sidebar .bs-widget.widget_search .btn:hover,
.bs-sidebar .bs-widget.widget_search .btn:focus {
	color: #fff;
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}
.wp-block-latest-posts li a, .wp-block-categories-list li a, .wp-block-categories__list li a, .wp-block-archives-list li a, .bs-sidebar .bs-widget .wp-block-latest-posts li a, .bs-sidebar .bs-widget .wp-block-categories-list li a, .bs-sidebar .bs-widget .wp-block-categories__list li a, .bs-sidebar .bs-widget .wp-block-archives-list li a{
	color: var(--head-color);
}
.bs-widget .calendar_wrap table thead th,
.bs-widget .calendar_wrap table,
.bs-widget .calendar_wrap td {
	border-color: rgba(51, 51, 51, 0.1);
	color: var(--text-color);
}
.bs-widget .calendar_wrap table caption {
	background: #8e54e9;
	border-color: #8e54e9;
	color: #fff;
}
.widget_block .wp-block-search__label,
.wp-block-search__label {
	color: var(--head-color);
}
.wp-block-latest-comments__comment-meta {
	color: var(--text-color);
}
.wp-block-latest-comments .wp-block-latest-comments__comment-author { 
	color: #8e54e9;
}
.comment-form textarea:focus {
	color: var(--text-color);
}
.widget_search .wp-block-search__input:focus {
	color: var(--text-color);
}
.wp-block-latest-comments .wp-block-latest-comments__comment-link {
	color: var(--text-color);
}
.wp-block-latest-comments .wp-block-latest-comments__comment-link:hover {
	color: #8e54e9;
}
.wp-block-latest-posts li,
.wp-block-categories-list li,
.wp-block-categories__list li,
.wp-block-archives-list li {
	border-color: var(--border-color);
}
.wp-block-latest-posts li:has(.wp-block-latest-posts__featured-image) .wp-block-latest-posts__post-title {
	color: var(--head-color);
}
.bs-sidebar .bs-widget.widget_blogdata-author-widget {
	background-color: var(--bg-color2);
}
.bs-card-box.empty-sidebar{
	background-color: var(--border-color);
}
/*==================== general ====================*/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: var(--head-color);
}
a.btn,
button.btn,
.btn-theme,
.more-link,
button {
	background-color: #8e54e9;
	color: #fff;
	border-color: #8e54e9;
}
.btn-theme:hover,
.btn-theme:focus,
.more-link:hover,
.more-link:focus,
.btn:hover,
button.btn:hover,
button[type=submit]:hover {
	background: linear-gradient(90deg, var(--secondary-color) 1.18%, #8e54e9 74.96%);
	color: #fff;
	border-color: #8e54e9;
}
button,
[type=button],
[type=reset],
[type=submit] {
	background-color: #8e54e9;
	color: #fff;
	border-color: #8e54e9;
}
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover,
button:focus,
[type=button]:focus,
[type=reset]:focus,
[type=submit]:focus {
	background: linear-gradient(90deg, var(--secondary-color) 1.18%, #8e54e9 74.96%);
	color: #fff;
	border-color: #8e54e9;
}
.bs-blog-post.three.md.back-img {
	background-color: #333;
}
.more-link, .btn-one, .btn-two {
	color: #fff;
	background: #8e54e9;
}
.more-link:hover,
.btn-one:hover,
.btn-two:hover {
	background-color: #8e54e9;
}
.more-link::after,
.btn-one::after,
.btn-two::after {
	color: #fff;
}
.more-link:hover::after,
.btn-one:hover::after,
.btn-two:hover::after {
	color: #fff;
}
/* btn three  */
.btn-three::before {
	background: #8e54e9;
}
.btn-three:hover::before,
.btn-four:hover::before {
	color: #fff;
}
/* btn five  */
.btn-five {
	background-color: #8e54e9 !important;
	color: #fff !important;
}
.btn-five::after {
	color: #fff;
}
.btn-five:hover::after {
	color: #fff;
}
/* be-single head one*/
.bs-single-head.one .bs-blog-category a,
.bs-single-head.one .bs-info-author-block .btitle a {
	color: #fff;
}
.bs-single-head.one .bs-info-author-block .btitle {
	color: #fff;
}
.bs-single-head.one .bs-info-author-block .bs-blog-meta a {
	color: #fff;
}
.bs-single-head.one,
.bs-single-head.one .bs-blog-meta span,
.bs-single-head.one .title a {
	color: #fff;
}
.bs-single-head.one .title a:hover {
	color: #8e54e9;
}
.bs-single-head.one .bs-page-breadcrumb>li a {
	color: #fff;
}
.bs-single-head.two {
	background-image: linear-gradient(to right, #8e54e9 0%, #f6f3ff 100%);
}
/* be-single head three*/
.bs-single-head.three .title a {
	color: #000;
}
/* be-single head five*/
.bs-single-head.five .bs-info-author-block .btitle a {
	color: #fff;
}
.bs-single-head.five .bs-info-author-block .btitle {
	color: #fff;
}
.bs-single-head.five .bs-info-author-block .bs-blog-meta a {
	color: #fff;
}
.bs-single-head.five .title a {
	color: #fff;
}
.bs-single-head.five .description {
	color: #fff;
}
/*==================== pagination color ====================*/
.pagination>li>a,
.pagination>li>span {
	background: #fff;
	color: #999;
}
.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	border-color: #8e54e9;
	background: #8e54e9;
	color: #fff;
}
.page-item.active .page-link {
	border-color: #8e54e9;
	background: #8e54e9;
	color: #fff;
}
.navigation.pagination .nav-links .page-numbers,
.navigation.pagination .nav-links a {
	background-color: var(--box-color);
	border-color: var(--head-color);
	color: var(--head-color);
}
.navigation.pagination .nav-links .page-numbers.current,
.navigation.pagination .nav-links a:hover, .single-nav-links span, 
a.error-btn {
	background-color: #8e54e9;
	color: #fff;
	border-color: #8e54e9;
}
.navigation.pagination .nav-links .page-numbers.current:hover, .navigation.pagination .nav-links a:hover, .post-nav-links a:hover, .post-nav-links .post-page-numbers:hover, 
.navigation.pagination.next-prev > a:hover, .single-nav-links span:hover, .bs-blog-post.single .single-nav-links .post-page-numbers:hover {
	background-image: linear-gradient(90deg, var(--secondary-color) 1.18%, #8e54e9 74.96%);
	color: #fff;
	border-color : #8e54e9; 
}
/*=== navbar drop down hover color ===*/
.navbar-base .navbar-nav>.open>a,
.navbar-base .navbar-nav>.open>a:hover,
.navbar-base .navbar-nav>.open>a:focus {
	color: #fff;
}
.navigation.pagination>.active>a,
.navigation.pagination>.active>a:hover,
.navigation.pagination>li>a:hover,
.navigation.pagination>li>a:focus,
.navigation.pagination>.active>a,
.navigation.pagination>.active>span,
.navigation.pagination>.active>a:hover,
.navigation.pagination>.active>span:hover,
.navigation.pagination>.active>a:focus,
.navigation.pagination>.active>span:focus {
	border-color: #8e54e9;
	background: #8e54e9;
	color: #fff;
}
.navigation p a:hover {
	color: var(--head-color);
}
.navigation.pagination.next-prev{
	color:transparent;
}
.navigation.pagination.next-prev > a{
	background-color: #8e54e9; 
	color:#fff; 
	border-color:#8e54e9; 
}
/*==================== typo ====================*/
.bs-breadcrumb-section .overlay {
	background: var(--box-color2);
}
.bs-breadcrumb-section .breadcrumb a,
.bs-breadcrumb-section .breadcrumb-item span {
	color: var(--head-color);
}
.breadcrumb-item+.breadcrumb-item::before {
	color: var(--head-color);
}
.bs-breadcrumb-section .breadcrumb a:hover,
.bs-breadcrumb-section .breadcrumb a:focus,
.bs-breadcrumb-section .breadcrumb .active a {
	color: #8e54e9;
}
.bs-breadcrumb-section .overlay .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	color: #6c757d;
}
.bs-breadcrumb-title h1 {
	color: var(--head-color);
}
.bs-page-breadcrumb>li a {
	color: var(--head-color);
}
.bs-page-breadcrumb>li a:hover,
.bs-page-breadcrumb>li a:focus {
	color: #8e54e9;
}
.bs-page-breadcrumb>li+li:before {
	color: var(--head-color);
}
/*==================== footer background ====================*/
footer.one .overlay {
	background: var(--ftbackcolor);
}
footer.one .bs-footer-copyright {
	border-color: #bdbdbd;
}
footer.one .bs-footer-widget-area .bs-inner-wrap .linehori {
	background-color: #483d2f;
}
footer.one .bs-footer-widget-area .bs-inner-wrap .lineleft {
	background-color: #483d2f;
}
footer.two .bs-footer-widget-area .row {
	background: var(--ftbackcolor);
}
footer.two .bs-footer-copyright {
	border-top-color: #e4e4e4;
}
footer.three .overlay .bs-footer-widget-area .bs-widget .bs-widget-title .title {
	color: #fff;
}
footer.three .overlay .bs-footer-widget-area .bs-widget .bs-blog-meta .bs-author a,
footer.three .overlay .bs-footer-widget-area .bs-widget .bs-blog-meta .bs-blog-date a {
	color: #fff;
}
footer.three .overlay .bs-footer-widget-area .bs-widget p {
	color: #fff;
}
footer.three .overlay .bs-footer-widget-area .bs-widget .small-post .title a {
	color: #fff;
}
footer.three .overlay .bs-footer-widget-area .bs-widget ul li a {
	color: #fff;
}
footer.three .overlay .bs-footer-copyright .copyright p {
	color: #fff;
}
footer.three .overlay .bs-footer-copyright .footer-social ul li a i {
	color: #fff;
}
footer .site-title a,
footer .site-description {
	color: #000;
}
footer .bs-widget .title,
footer .consultup_contact_widget .bs-widget .title,
.widget_block h2 {
	color: var(--ftwtitile-color);
}
footer .bs-widget ul li,
footer .bs-widget ul li a {
	color: var(--ftwtext-color);
}
footer .text-input button.sub-link a {
	color: var(--bg-color);
}
footer .checkbox a {
	color: var(--secondary-color);
}
footer .bs-widget ul li a:hover,
footer .bs-widget ul li a:focus {
	color: #8e54e9;
}
footer .bs-widget .calendar_wrap table thead th,
footer .bs-widget .calendar_wrap table tbody td,
footer .bs-widget #calendar_wrap td,
footer .bs-widget #calendar_wrap th,
footer .bs-widget .calendar_wrap table caption {
	color: #f2f7fd;
	border-color: #eee;
}
footer .bs-footer-copyright {
	background: initial;
}
footer .bs-footer-copyright,
footer .bs-footer-copyright p,
footer .bs-footer-copyright a {
	color: var(--head-color);
}
footer .bs-footer-copyright a:hover,
footer .bs-footer-copyright a:focus {
	color: #8e54e9;
}
footer .bs-widget p {
	color: var(--ftwtext-color);
}
footer .bs-widget.widget_search .btn {
	color: #fff;
	background: #8e54e9;
	border-color: #8e54e9;
}
footer h3 span {
	color: #8e54e9;
}
footer .site-branding-text .site-title-footer a,
footer .site-branding-text .site-description-footer {
	color: var(--head-color)
}

footer .bs-widget.widget_search .btn:hover,
footer .bs-widget.widget_search .btn:focus {
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}
footer .bs-widget .bs-author h4 {
	color: #fff;
}
footer .bs-widget .bs-author p {
	color: #e8e8e8;
}
footer .bs-recent-blog-post .small-post .img-small-post.right {
	border-color: #fff;
}
.bs_upscr {
	background: #8e54e9;
	border-color: #8e54e9;
	color: #fff !important;
}
.bs_upscr:hover,
.bs_upscr:focus {
	background: linear-gradient(90deg, var(--secondary-color) 1.18%, #8e54e9 74.96%);
	border-color: var(--pri-color);
	color: #fff;
}
.site-title-footer a,
.site-description-footer,
p.site-title-footer a,
p.site-description-footer {
	color: #fff;
}
footer .bs-widget-title .title {
	color: var(--head-color);
}
footer input[type="search"] {
	background-color: #222;
}
.progress-scroll {
	background: linear-gradient(90deg, #8e54e9 1.18%, var(--secondary-color) 74.96%);
}
.bs-newslatter .text-input .form-control {
	background-color: transparent;
	color: #9fa2a6;
}
.bs-newslatter .text-input .sub-link {
	background-color: #fff;
}
.bs-marquee .marquee-item .item .title {
	color: #000;
}
.bs-marquee {
	border-color: #e5e5e5;
}
/*---------------------------------------
	Off Canvas Styles           
-----------------------------------------*/
.bs-offcanvas {
	background-color: var(--bg-popup);
}
.bs-offcanvas .navbar-nav li {
    border-bottom-color: var(--border-color);
}
.bs-offcanvas .bs-offcanvas-inner .navbar-nav li a {
	color: var(--head-color);
}
.bs-offcanvas .bs-offcanvas-btn-close span {
	background-color: var(--head-color);
}
/*form-control*/
.form-control {
	border-color: #eef3fb;
}
.form-control:focus {
	border-color: #8e54e9;
}
.form-group label::before {
	background-color: #dddddd;
}
.form-group label::after {
	background-color: #8e54e9;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
	color: var(--head-color);
}
.woocommerce-page .products h3 {
	color: #333;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
	color: #333;
}
.related.products h2 {
	color: #333;
}
.woocommerce nav.woocommerce-pagination ul li a {
	color: #333;
}
.woocommerce nav .woocommerce-pagination ul li span {
	color: #333;
}
.woocommerce nav.woocommerce-pagination ul li a {
	border-color: #ddd;
}
.woocommerce nav .woocommerce-pagination ul li span {
	border-color: #ddd;
}
/*----woocommerce----*/
.woocommerce-cart table.cart td.actions .coupon .input-text {
	border-color: #ebebeb;
}
.right-nav a.bs-cart .bs-cart-count {
	color: #fff;
	background: #8e54e9;
}
.bs-card-box {
	background: var(--box-color2);
	color: var(--text-color);
}
/*-theme-background-*/
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce #respond input#submit,
.woocommerce input.button.alt,
.woocommerce .cart input.button,
.woocommerce-page .products a.button,
.woocommerce #respond input#submit,
.woocommerce input.button,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt[disabled]:disabled,
.woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover {
	background: #8e54e9;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: #8e54e9 !important;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	background: #ebe9eb;
	color: #999;
}
/*-theme-color-*/
.woocommerce #respond input#submit,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page .products .added_to_cart,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	color: #8e54e9;
}
/*-theme-border-color-*/
.woocommerce-cart table.cart td.actions .coupon .input-text:hover,
.woocommerce-cart table.cart td.actions .coupon .input-text:focus,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce nav .woocommerce-pagination ul li a:focus,
.woocommerce nav .woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	border-color: #8e54e9;
}
/*-theme-secondary-background-*/
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce-page .products a.button:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.woocommerce div.product form.cart .button:hover {
	background: linear-gradient(90deg, var(--secondary-color) 1.18%, #8e54e9 74.96%);
    color: #fff;
}
.woocommerce ul.products li.product a:focus {
	color: #fff;
}
/*-theme-secondary-color-*/
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #161c28;
}
/*-theme-color-white-*/
.woocommerce-page .woocommerce .woocommerce-info a,
.woocommerce-page .woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-message,
.woocommerce-page .woocommerce-message a,
.woocommerce-page .woocommerce-message a:hover,
.woocommerce-page .woocommerce-message a:focus,
.woocommerce .woocommerce-message::before,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-error a,
.woocommerce-page .woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-info a,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce .woocommerce-info,
.woocommerce nav .woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus {
	color: #fff;
}
.woocommerce-cart .wc-proceed-to-checkout a .checkout-button,
.woocommerce .cart input.button,
.woocommerce #respond input#submit,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce #respond input#submit,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page .products a.button,
.woocommerce a.button,
.woocommerce a.button,
.woocommerce-page .products a.button,
.woocommerce .cart .button,
.woocommerce div.product form.cart .button {
	background: #8e54e9;
	color: #fff;
}
.woocommerce .products span.onsale,
.woocommerce span.onsale {
	background: #8e54e9;
}
.woocommerce-page .products a .price,
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: var(--text-color);
}
.woocommerce-page .products a .price ins {
	color: #e96656;
}
.woocommerce-page .products .star-rating,
.woocommerce-page .star-rating span,
.woocommerce-page .stars span a {
	color: #ffc107;
}
/*woocommerce-messages*/
.woocommerce-page .woocommerce-message {
	background: #2ac56c;
}
.woocommerce-page .woocommerce-message a {
	background-color: #8e54e9;
}
.woocommerce-page .woocommerce-message a:hover,
.woocommerce-page .woocommerce-message a:focus {
	background-color: #388e3c;
}
.woocommerce-page .woocommerce-error {
	background: #ff5252;
}
.woocommerce-page .woocommerce-error a {
	background-color: #F47565;
}
.woocommerce-page .woocommerce-info {
	background: #4593e3;
}
.woocommerce-page .woocommerce-info a {
	background-color: #5fb8dd;
}
.woocommerce-page .woocommerce .woocommerce-info {
	background: rgb(58, 176, 226);
}
/*woocommerce-Price-Slider*/
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background: #8e54e9;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background: #8e54e9;
}
.woocommerce-page .woocommerce-ordering select {
	color: #A0A0A0;
}/*woocommerce-price-filter*/
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #1a2128;
}/*woocommerce-form*/
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	border-color: #ccc;
	color: var(--text-color);
}
.woocommerce form .form-row label {
	color: var(--text-color);
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	color: var(--secondary-color);
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:focus {
	background-color: var(--secondary-color);
	color: #fff;
	border-color: var(--secondary-color);
}
.woocommerce ul.products li.product .woocommerce-loop-product__link:hover .woocommerce-loop-product__title{
	color: #8e54e9;
}
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=email],
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=number],
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=tel],
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=text],
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=url],
.woocommerce-checkout .wc-block-components-text-input input[type=email],
.woocommerce-checkout .wc-block-components-text-input input[type=number],
.woocommerce-checkout .wc-block-components-text-input input[type=tel],
.woocommerce-checkout .wc-block-components-text-input input[type=text],
.woocommerce-checkout .wc-block-components-text-input input[type=url] {
	color: var(--text-color);
}
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=email]:focus,
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=number]:focus,
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=tel]:focus,
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=text]:focus,
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input[type=url]:focus,
.woocommerce-checkout .wc-block-components-text-input input[type=email]:focus,
.woocommerce-checkout .wc-block-components-text-input input[type=number]:focus,
.woocommerce-checkout .wc-block-components-text-input input[type=tel]:focus,
.woocommerce-checkout .wc-block-components-text-input input[type=text]:focus,
.woocommerce-checkout .wc-block-components-text-input input[type=url]:focus {
	background: none;
	color: var(--text-color);
}
.woocommerce-checkout .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input:focus,
.woocommerce-checkout .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input[aria-expanded=true],
.woocommerce-checkout .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input:focus,
.woocommerce-checkout .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input[aria-expanded=true] {
    background: none;
	color: var(--text-color);
}
.woocommerce-checkout .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input,
.woocommerce-checkout .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input{
	background: none;
	color: var(--text-color);
}
.woocommerce-checkout .wc-block-components-combobox .wc-block-components-combobox-control label.components-base-control__label,
.woocommerce-checkout .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control label.components-base-control__label,
.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input label, .woocommerce-checkout .wc-block-components-text-input label{
	color: var(--text-color);
}
.woocommerce-checkout .wc-block-components-address-form__address_2-toggle {
	color:var(--head-color);
}
.woocommerce-checkout .wc-block-components-textarea{
	color: var(--text-color);
}
.woocommerce-checkout .wc-block-checkout__add-note .wc-block-components-textarea:focus{
	color: var(--text-color);
}
/* --------------------------------------
=========================================
	subscibe-area
=========================================
-----------------------------------------*/
.subscibe-area {
	background: var(--box-color);
}
.subscribe-aria .overlay .subscribe-inner .subscribe-content .feature-list li {
	color: var(--secondary-color);
}
.subscribe-aria .overlay .subscribe-inner .subscribe-content .feature-list li::before {
	color: var(--secondary-color);
}
.subscribe-aria .overlay {
	background-color: #eee;
}
.bs-overlay-section {
	background-color: rgba(0, 0, 0, 0.75);
}
/*---------------------------------------
	Core Wordpress
-----------------------------------------*/
.wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus {
    background: #fff;
    color: #32373c;
}
.wp-block-file *+.wp-block-file__button {
    color: #fff;
    background: #8e54e9;
}
.logged-in-as a{
	color: #8e54e9;
}
#cancel-comment-reply-link:hover{
	color: #8e54e9;
}
.wp-block-button .wp-block-button__link, .wp-block-button .wp-block-button__link{
	background: var(--ftwtitile-color);
	color: var(--headbg-color);
	border-color: var(--ftwtitile-color);
}
.wp-block-button .wp-block-button__link, .wp-block-button .wp-block-button__link{
	background-color: #8e54e9;
	color: #fff;
}
.wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:hover{
	background: linear-gradient(135deg, #8e54e9 1.18%, var(--secondary-color) 74.96%);;
	color: #fff;
}
th {
    background: transparent;
}
pre{
	background: var(--ftbackcolor);
}
pre code{
	background: var(--ftbackcolor);
	color: var(--head-color);
}
mark, span.highlight, code, kbd, var, samp, tt {
	background: var(--headmenu-color);
    color: var(--headbg-color);
}
.small.single .wp-block-latest-posts li a:hover, .small.single .wp-block-categories-list li a:hover, .small.single .wp-block-categories__list li a:hover, .small.single .wp-block-archives-list li a:hover{
	color: #8e54e9;
}
.post-password-form{
	background-color: var(--border-color);
}
/* media quary min-width 992px*/
@media(min-width: 992px) {
	.navbar-wp nav .sm-clean ul {
		background-color: var(--bg-popup);
	}
	.navbar-wp nav .sm-clean ul::after {
		border-bottom-color: var(--box-color2);
	}
	.sm-clean a.nav-link .sub-arrow {
		border-color: var(--head-color) transparent transparent transparent;
	}
}
@media (max-width: 991.98px) {
	.navbar-wp .nav-wp {
		background: var(--bg-color);
	}
	.navbar-wp nav ul.sm-clean li a {
		background: #fff;
		color: #000;
	}
	.menu-btn {
		background-color: transparent;
		color: #8e54e9;
	}
	.menu-btn:hover,
	.menu-btn:focus {
		background: transparent;
	}
	.bs-headthree .sm-clean a .sub-arrow {
		border-color: #fff transparent transparent transparent;
	}
}